doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        link(rel="stylesheet", href="/client/css/create.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Кімната гри
    body 
     div#create
      div#content
       h2#uuid #{game}
       br
       a(href="/") Вийти
      div#users
    script(src="/socket.io/socket.io.js")
    script(src="/client/script/await.js") 