doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        link(rel="stylesheet", href="/client/css/game.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title TikTakToe
    body
     div#choise
      span x
      span o
     div#content
     div#history 
      h2 History
      div#historyContent 
    script(src="/socket.io/socket.io.js")
    script(src="/client/script/game.js") 
     