doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Підʼєднатись до кімнати
    body 
    form(action=`/api/join/`, method="post")#form
     input(type="text" name='uuid')
     input(type="submit", value="Підʼєднатись")#submitBTN
    script(src="/socket.io/socket.io.js")
    script(src="/client/script/join.js") 